<%= simple_form_for(@effect) do |f| %>
	<div class="field">

    	<%= f.input :title %>
	</div>
	<div class="field">

		<%= f.input :content %>
	</div>

	<div class="actions">
		<%= f.button :submit %>
	</div>

<% end %>
